*, *::after, *::before {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
header {
  width: 1440px;
  height: 700px;
  background-image: url(../images/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
header nav {
  height: 70px;
  margin: 0 264px 0 248px;
  display: flex;
  justify-content: space-between;
}
header nav .nav-logo {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  margin-top: 46px;
}
header nav .nav-logo a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
header nav .nav-btns {
  margin-top: 40px;
  display: flex;
}
header nav .nav-btns .nav-btn-1 {
  display: block;
  width: 90px;
  height: 36px;
  background: none;
  margin-right: 20px;
  color: white;
  border: none;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
header nav .nav-btns .nav-btn-2 {
  display: block;
  width: 90px;
  height: 36px;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 40px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
header .header-text {
  padding-top: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header .header-text-title {
  text-align: center;
  line-height: 63px;
  font-size: 52px;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
  width: 470px;
  height: 126px;
}
header .header-text-paragraph {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 300;
  color: white;
  margin-top: 29px;
}
header .header-text-btn {
  margin-top: 33px;
  width: 225px;
  height: 40px;
  background-color: #FF4E50;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  border: none;
  display: block;
}

main {
  margin: 0 auto;
}

.section-1 {
  padding-top: 95px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-1-title {
  width: 342px;
  height: 32px;
  color: #444444;
  margin: 0 auto;
  font-size: 26px;
  font-family: "Montserrat";
  font-weight: 700;
}
.section-1-menu {
  padding-top: 35px;
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-1-menu-first {
  background-image: url(../images/Step\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 400px;
}
.section-1-menu-first button {
  display: block;
  background: #FF4E50;
  width: 70px;
  height: 20px;
  border: none;
  border-radius: 40px;
  margin: 219px 0 0 25px;
  font-size: 10px;
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.section-1-menu-first h3 {
  width: 250px;
  height: 58px;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 26px;
  color: white;
  margin: 18px 0 0 25px;
}
.section-1-menu-first p {
  width: 250px;
  height: 57px;
  font-size: 14px;
  font-family: "Roboto";
  color: #E3E3E3;
  margin: 10px 0 0 25px;
}
.section-1-menu-second {
  background-image: url(../images/Step\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 400px;
}
.section-1-menu-second button {
  display: block;
  background: #FF4E50;
  width: 70px;
  height: 20px;
  border: none;
  border-radius: 40px;
  margin: 250px 0 0 25px;
  font-size: 10px;
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.section-1-menu-second h3 {
  width: 250px;
  height: 29px;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 26px;
  color: white;
  margin: 18px 0 0 25px;
}
.section-1-menu-second p {
  width: 250px;
  height: 57px;
  font-size: 14px;
  font-family: "Roboto";
  color: #E3E3E3;
  margin: 10px 0 0 25px;
}
.section-1-menu-third {
  background-image: url(../images/Step\ 3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 400px;
}
.section-1-menu-third button {
  display: block;
  background: #FF4E50;
  width: 70px;
  height: 20px;
  border: none;
  border-radius: 40px;
  margin: 219px 0 0 25px;
  font-size: 10px;
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.section-1-menu-third h3 {
  width: 250px;
  height: 58px;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 26px;
  color: white;
  margin: 18px 0 0 25px;
}
.section-1-menu-third p {
  width: 250px;
  height: 57px;
  font-size: 14px;
  font-family: "Roboto";
  color: #E3E3E3;
  margin: 10px 0 0 25px;
}

.section-2 {
  padding-top: 95px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-2-title {
  font-size: 26px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #444444;
  margin-bottom: 35px;
}
.section-2-menu {
  width: 950px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-2-menu-first {
  width: 221px;
  height: 205px;
}
.section-2-menu-first-con {
  position: relative;
}
.section-2-menu-first-con img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  height: 120px;
  width: 120px;
}
.section-2-menu-first-con .icon {
  width: 32px;
  height: 32px;
  background-color: #FF4E50;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 90px;
  left: 140px;
}
.section-2-menu-first h3 {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #444444;
  margin-top: 17px;
  text-align: center;
}
.section-2-menu-first p {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
  margin-top: 12px;
  text-align: center;
}
.section-2-menu-second {
  width: 221px;
  height: 205px;
}
.section-2-menu-second-con {
  position: relative;
}
.section-2-menu-second-con img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  height: 120px;
  width: 120px;
}
.section-2-menu-second-con .icon {
  width: 32px;
  height: 32px;
  background-color: #19D4CA;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 90px;
  left: 140px;
}
.section-2-menu-second h3 {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #444444;
  margin-top: 17px;
  text-align: center;
}
.section-2-menu-second p {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
  margin-top: 12px;
  text-align: center;
}
.section-2-menu-third {
  width: 221px;
  height: 205px;
}
.section-2-menu-third-con {
  position: relative;
}
.section-2-menu-third-con img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  height: 120px;
  width: 120px;
}
.section-2-menu-third-con .icon {
  width: 32px;
  height: 32px;
  background-color: #FFA710;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 90px;
  left: 140px;
}
.section-2-menu-third h3 {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #444444;
  margin-top: 17px;
  text-align: center;
}
.section-2-menu-third p {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
  margin-top: 12px;
  text-align: center;
}
.section-2-menu-fourth {
  width: 221px;
  height: 205px;
}
.section-2-menu-fourth-con {
  position: relative;
}
.section-2-menu-fourth-con img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  height: 120px;
  width: 120px;
}
.section-2-menu-fourth-con .icon {
  width: 32px;
  height: 32px;
  background-color: #667DF3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 90px;
  left: 140px;
}
.section-2-menu-fourth h3 {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #444444;
  margin-top: 17px;
  text-align: center;
}
.section-2-menu-fourth p {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
  margin-top: 12px;
  text-align: center;
}
.section-2 button {
  display: block;
  width: 180px;
  height: 40px;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  color: #FF4E50;
  background: white;
  margin: 0 auto;
  margin-top: 55px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  cursor: pointer;
}

.section-3 {
  display: flex;
  flex-direction: column;
  padding-top: 95px;
}
.section-3-title {
  margin: 0 auto;
  font-size: 26px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #444444;
}
.section-3-photos {
  width: 940px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 35px;
}
.section-3-photos-upper {
  width: 100%;
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
}
.section-3-photos-upper-one {
  width: 300px;
  height: 310px;
  background-image: url(../images/Sport\ \(1\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.section-3-photos-upper-one h4 {
  height: 27px;
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}
.section-3-photos-upper-two {
  width: 300px;
  height: 310px;
  background-image: url(../images/Healath.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.section-3-photos-upper-two h4 {
  height: 27px;
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
  text-align: center;
}
.section-3-photos-upper-three {
  width: 300px;
  height: 310px;
  background-image: url(../images/Extreme.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-3-photos-upper-three h4 {
  text-align: center;
  height: 27px;
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}
.section-3-photos-center {
  width: 100%;
  display: flex;
  justify-content: baseline;
  margin-top: 20px;
  flex-wrap: wrap;
}
.section-3-photos-center-one {
  width: 300px;
  height: 310px;
  background-image: url(../images/Games.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.section-3-photos-center-one h4 {
  height: 27px;
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}
.section-3-photos-center-two {
  width: 620px;
  height: 310px;
  background-image: url(../images/Culture.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-3-photos-center-two h4 {
  height: 27px;
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}
.section-3-photos-lower {
  width: 100%;
  display: flex;
  justify-content: baseline;
  margin-top: 20px;
  flex-wrap: wrap;
}
.section-3-photos-lower-one {
  width: 620px;
  height: 310px;
  background-image: url(../images/Culture\ Copy.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.section-3-photos-lower-one h4 {
  height: 27px;
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}
.section-3-photos-lower-two {
  width: 300px;
  height: 310px;
  background-image: url(../images/Games\ Copy.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-3-photos-lower-two h4 {
  height: 27px;
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}

.section-4 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 95px;
}
.section-4-title {
  margin: 0 auto;
  font-size: 26px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #444444;
}
.section-4-subtitle {
  margin: 0 auto;
  margin-top: 43px;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 300;
  color: #666666;
}
.section-4-btns {
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}
.section-4-btns input {
  display: block;
  width: 300px;
  height: 40px;
  border: 1px solid #D4D4D4;
  background-color: white;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
  color: #999999;
  padding-left: 14px;
  margin-right: 10px;
}
.section-4-btns button {
  cursor: pointer;
  display: block;
  width: 172px;
  height: 40px;
  background: #FF4E50;
  border-radius: 40px;
  border: none;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}

.footer {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  border-top: 2px solid #FF4E50;
  width: 1440px;
  height: 224px;
  display: flex;
  flex-wrap: wrap;
}
.footer-first {
  width: 25%;
}
.footer-first-title {
  margin-top: 38px;
  margin-left: 250px;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #FF4E50;
}
.footer-second {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-second-title {
  margin-top: 38px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
}
.footer-second-list {
  margin-top: 11px;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
  color: #999999;
}
.footer-second-list li {
  margin-top: 12px;
}
.footer-third {
  width: 25%;
}
.footer-third-title {
  margin-top: 38px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
}
.footer-fourth {
  width: 25%;
}
.footer-fourth-title {
  margin-top: 38px;
  font-size: 10px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #CCCCCC;
  margin-bottom: 7px;
}

@media screen and (max-width: 1440px) and (min-width: 769px) {
  header {
    width: 768px;
  }
  header nav {
    margin: 0 50px 0 48px;
  }
  .section-1-title {
    width: 289px;
    height: 27px;
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 700;
  }
  .section-1-menu {
    width: 748px;
  }
  .section-1-menu-first {
    width: 236px;
    height: 400px;
  }
  .section-1-menu-first p {
    width: 196px;
    height: 76px;
    margin: 10px 0 0 20px;
  }
  .section-1-menu-second {
    width: 236px;
    height: 400px;
  }
  .section-1-menu-second p {
    width: 196px;
    height: 76px;
    margin: 10px 0 0 20px;
  }
  .section-1-menu-third {
    width: 236px;
    height: 400px;
  }
  .section-1-menu-third p {
    width: 196px;
    height: 76px;
    margin: 10px 0 0 20px;
  }
  .section-2-title {
    font-size: 22px;
  }
  .section-2-menu {
    width: 492px;
  }
  .section-2-menu-first {
    width: 236px;
  }
  .section-2-menu-second {
    width: 236px;
  }
  .section-2-menu-third {
    width: 236px;
  }
  .section-2-menu-fourth {
    width: 236px;
  }
  .section-3-title {
    font-size: 22px;
  }
  .section-3-photos {
    width: 748px;
  }
  .section-3-photos-upper-one {
    width: 236px;
  }
  .section-3-photos-upper-two {
    width: 236px;
  }
  .section-3-photos-upper-three {
    width: 236px;
  }
  .section-3-photos-center-one {
    width: 236px;
  }
  .section-3-photos-center-two {
    width: 492px;
  }
  .section-3-photos-lower-one {
    width: 492px;
  }
  .section-3-photos-lower-two {
    width: 236px;
  }
  .section-4-title {
    font-size: 22px;
  }
  .footer {
    width: 768px;
  }
  .footer-first-title {
    margin-left: 39px;
  }
}
@media screen and (max-width: 768px) {
  header {
    width: 320px;
    height: 540px;
  }
  header nav {
    height: 175px;
    margin: 0 0 0 86px;
    flex-direction: column-reverse;
  }
  header nav .nav-logo {
    margin: 0%;
  }
  header nav .nav-btns {
    margin-top: 20px;
    margin-right: 70px;
  }
  header .header-text {
    padding-top: 26px;
  }
  header .header-text-title {
    font-size: 30px;
    width: 272px;
    height: 74px;
    line-height: 37px;
  }
  header .header-text-paragraph {
    font-size: 18px;
    margin-top: 5px;
    width: 280px;
    height: 49px;
    text-align: center;
  }
  header .header-text-btn {
    margin-top: 15px;
    width: 280px;
    height: 40px;
  }
  .section-1 {
    padding-top: 35px;
  }
  .section-1-title {
    width: 289px;
    height: 27px;
    font-size: 22px;
  }
  .section-1-menu {
    padding-top: 15px;
    width: 300px;
  }
  .section-1-menu-first {
    width: 300px;
    height: 240px;
    border-radius: 4px;
  }
  .section-1-menu-first button {
    margin: 64px 0 0 20px;
  }
  .section-1-menu-first h3 {
    margin: 15px 0 0 25px;
  }
  .section-1-menu-second {
    width: 300px;
    height: 240px;
    margin-top: 10px;
    border-radius: 4px;
  }
  .section-1-menu-second button {
    margin: 95px 0 0 20px;
  }
  .section-1-menu-second h3 {
    margin: 15px 0 0 25px;
  }
  .section-1-menu-third {
    width: 300px;
    height: 240px;
    margin-top: 10px;
    border-radius: 4px;
  }
  .section-1-menu-third button {
    margin: 64px 0 0 20px;
  }
  .section-1-menu-third h3 {
    margin: 15px 0 0 25px;
  }
  .section-2 {
    padding-top: 36px;
  }
  .section-2-title {
    font-size: 22px;
    width: 280px;
    height: 54px;
    line-height: 27px;
    text-align: center;
  }
  .section-2-menu {
    width: 236px;
  }
  .section-3 {
    padding-top: 36px;
  }
  .section-3-title {
    width: 280px;
    height: 54px;
    text-align: center;
    line-height: 27px;
  }
  .section-3-photos {
    width: 300px;
    margin-top: 33px;
  }
  .section-3-photos-upper-one {
    width: 300px;
    height: 120px;
    margin-right: 0px;
    border-radius: 4px;
  }
  .section-3-photos-upper-two {
    width: 300px;
    height: 120px;
    margin-right: 0px;
    margin-top: 10px;
    border-radius: 4px;
  }
  .section-3-photos-upper-three {
    width: 300px;
    height: 120px;
    margin-top: 10px;
    border-radius: 4px;
  }
  .section-3-photos-center {
    margin-top: 0px;
  }
  .section-3-photos-center-one {
    width: 300px;
    height: 120px;
    margin-right: 0px;
    border-radius: 4px;
    margin-top: 10px;
  }
  .section-3-photos-center-two {
    width: 300px;
    height: 120px;
    margin-right: 0px;
    margin-top: 10px;
    border-radius: 4px;
  }
  .section-3-photos-lower {
    margin-top: 0px;
  }
  .section-3-photos-lower-one {
    width: 300px;
    height: 120px;
    margin-right: 0px;
    border-radius: 4px;
    margin-top: 10px;
  }
  .section-3-photos-lower-two {
    width: 300px;
    height: 120px;
    margin-right: 0px;
    margin-top: 10px;
    border-radius: 4px;
  }
  .section-4 {
    margin-top: 35px;
  }
  .section-4-title {
    width: 280px;
    height: 54px;
    text-align: center;
  }
  .section-4-subtitle {
    margin-top: 9px;
  }
  .section-4-btns {
    margin-top: 15px;
    width: 280px;
  }
  .section-4-btns input {
    width: 280px;
    margin-right: 0px;
  }
  .section-4-btns button {
    width: 280px;
    margin-top: 10px;
  }
  .footer {
    width: 320px;
  }
  .footer-first {
    width: 100%;
  }
  .footer-first-title {
    margin-top: 21px;
    margin-left: 0px;
    text-align: center;
  }
  .footer-second {
    width: 100%;
  }
  .footer-second-title {
    margin-top: 21px;
    margin-left: 0px;
    text-align: center;
  }
  .footer-second-list {
    width: 280px;
    padding-left: 50px;
  }
  .footer-second-list li {
    display: inline-block;
    margin-right: 5px;
  }
  .footer-third {
    width: 100%;
  }
  .footer-third-title {
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
  }
  .footer-fourth {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer-fourth-title {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    text-align: center;
  }
  .footer-fourth img {
    display: block;
    width: 110px;
    height: 24px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */